[Unit]
Description= web-server
After=network-online.target

[Service]
User=webadmin
Group=webgroup
WorkingDirectory=/opt/srv/webapp/
ExecStart=/opt/srv/webapp/venv/bin/python /opt/srv/webapp/web-server.py
Restart=Always

[Install]
WantedBy=multi-user.target
