[Unit]
Description= web-server
After=network-online.target

[Service]
User=webadmin
Group=webgroup
WorkingDirectory=/var/www/http_service
ExecStart=/opt/srv/webapp/venv/bin/python /opt/srv/webapp/web_server.py
Restart=Always

[Install]
WantedBy=multi-user.target
